<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/changepassword.css">
  <title>Change Password</title>
</head>
<body>
  <div class="form_container">
    <h2>Change Password</h2>
    <form method="post" action="/changepassword">
      <div class="form_group"> 
        <label for="currentPassword">Current Password:</label>
        <input type="password" name="currentPassword" id="currentPassword" placeholder="Current Password" required>
      </div>
      <div class="form_group"> 
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required>
      </div>
      <button type="submit" class="submit_btn">Change Password</button>
      <a href="/"> Move to Login</a>
    </form>
  </div>
</body>
</html>
